certifi==2023.7.22
distlib==0.3.7
environs==10.3.0
filelock==3.12.4
marshmallow==3.20.2
mysql-connector==2.2.9
mysql-connector-python==8.2.0
packaging==23.2
pipenv==2023.9.8
platformdirs==3.10.0
protobuf==4.21.12
python-dotenv==1.0.1
virtualenv==20.24.5
